 
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: flex-start;  /* Aligns items at the start of the navbar */
    align-items: center;
    background: #364B3B;
    padding: 10px 20px;
    width: 100%;  /* Full width of the viewport */
    height: 96px;
    box-sizing: border-box;  /* Ensure padding doesn't affect width */
}

.navbar .logo {
    width: 312px;  /* Adjust based on logo size */
    height: 80px;
}


/* Navigation links */
.nav_pages {
    display: flex;
    justify-content: flex-end;  /* Distribute nav items evenly */
    gap: 64px;  /* Remove any default gap */
    width: 100%;  /* Make the nav pages container take full width */
    padding-left: 143px;  /*  Adds a gap of 143px from the left */
    padding-right:45px;
}

.nav_pages a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease, font-weight 0.3s ease; /* Added transition for smooth effect */
}

/* Bold on hover */
.nav_pages a:hover {
    font-weight: bold;
}

/*----------------*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Ensures padding and border don't affect width/height */
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;  /* Default font */
    background-color: #F5F3EF;  /* Set background color */
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full height of the viewport */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}




h1{
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 134px; 
    padding-bottom: 40px;
}


.references-container{
    padding:  100px;
}

.references-container hr {
    width: 100%; /* Takes full width of the container */
    border: 7px solid #000; /* You can adjust the color and thickness */
    margin-top: 20px; /* Adjust margin as needed */
}


/* Centering the div */
.link {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column; /* Stack the paragraphs vertically */
    align-items: center; /* Horizontally center the content */
    justify-content: center; /* Vertically center the content (if the div has a height) */
    text-align: center; /* Ensures text is centered inside each paragraph */
    margin: 0 auto; /* Centers the div itself within its parent container */
    width: fit-content; /* Makes the div width fit the content */
    padding: 10px; /* Optional: Add padding for spacing */
}
