* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Ensures padding and border don't affect width/height */
}


body {
    width: 1440px;  /* Set the width of the body to 1440px */
    height: 2000px; /* Set the height of the body to 2664px */
    margin: 0 auto; /* Centers the body horizontally */
    background-color: #F5F3EF; /* Set background color */
    font-family: Poppins, sans-serif; /* Default font */
    overflow-y: auto; /* Enables vertical scrolling if content exceeds the viewport height */
}



hr {
    border-top: 7px solid black;
}

.hr_Body {
    border-top: 1px solid black;
}

h1 {
    font-family: Outfit;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 134px; /* 139.583% */
}

.typography_Body {
    margin-left: 108px;
    margin-right: 108px;
    margin-top: 92px;
}

.poppins_Desc {
    display: block;
    border: 2px solid #000;
    margin-top: 92px;
    margin-bottom: 92px;
    width: 100%;  /* Full width */
    max-width: 500px;  /* Limit the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.outfit_Desc {
    display: block;
    border: 2px solid #000;
    margin-top: 92px;
    margin-bottom: 92px;
    width: 100%;  /* Full width */
    max-width: 500px;  /* Limit the width of the image */
    height: auto; /* Maintain aspect ratio */
}

h2 {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 58.333% */
    margin-bottom: 28px;
}

p {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.6px;
}

/* Flex container for the large title and description */
.container {
    display: flex;
    justify-content: space-between;  /* Ensures space between title and description */
    align-items: flex-start;  /* Aligns items to the top */
    width: 100%;
}
.large_Title {
    color: #000;
    font-family: Outfit;
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 117.46% */
    margin-bottom: 275px; /* Adds 275px gap below the large title */
}

.desc {
    display: flex;
    flex-direction: column;  /* Stack h2 and p vertically */
    justify-content: flex-start;  /* Align items at the top */
    width: 50%;  /* Make description take the other 50% of the width */
    margin-left: 20px;  /* Space between title and description */
}